{% load static %}
<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img style="float:right;" height="45px" width="150px" src="{% static 'py.png' %}" alt="..." /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Anasayfa</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
      </li>
  <li class="nav-item">
        <a class="nav-link" href="{% url 'article:articles' %}">Makaleler</a>
      </li>
<li class="nav-item">
        <a class="nav-link" href="{% url 'article:userr' %}">Kullanıcı Profili</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'user:contact' %}">İletişim</a>
      </li>

        {% if request.user.is_authenticated %}
           <li class="nav-item">
        <a class="nav-link" href="{% url 'article:dashboard' %}">Kontrol Paneli</a>
      </li>
           <li class="nav-item">
        <a class="nav-link" href="{% url 'user:logout' %}">Çıkış Yap</a>
      </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'user:login' %}">Giriş Yap</a>
      </li>

         <li class="nav-item">
        <a class="nav-link" href="{% url 'user:register' %}">Kayıt ol </a>
      </li>
         <li class="nav-item">
<!--             <img style="float:right;" height="45px" width="600px" src="{% static 'foto.png' %}" alt="..." /></a></li>-->
    </ul>
 {% endif %}
<!--  <img style="float:right;" height="50px" width="500px" src="{% static 'code.jpg' %}" alt="..." />-->
</nav>