{% extends "layout.html" %}
{% load static %}

 {% block body %}
  <center><h4 class="text_" >Hakkımızda</h4></center>
<hr>

<img style="float:left; padding:10px" height="130px" width="300px" src="{% static 'py.png' %}" alt="..." />
PyFropt (30.11.2021) Tarihinde Mustafa Mevlüt Aydın tarafından tasarlandı.Geliştirici tarafından daha önceden
25 otomasyon
3000'e yakın websitesi
17 oyun ve bir tane yapay zeka geliştirdi
<hr>
Py_Fropt'ın asıl amacı yaşadığımız problemleri beraber çözmek ve yardımlaşmaktır.
<br>
<br>

<hr>
<ul>
 <li>Daha Önceki Çalışmalarımız
 <ul>
  <li>Play Store'daki Oyunlarımız ;
  <ul>
   <li><a href="https://play.google.com/store/apps/details?id=com.Company.UzayMacerasi&hl=tr&gl=US" title="Game" target="_blank"> Uzay Macerasi

   </li></a>
   <li><a href="https://play.google.com/store/apps/details?id=com.KelimeOyunu.HarfAliyim"title="Game" target="_blank"> Kelime Oyunu</li></a>
   <li><a href="https://play.google.com/store/apps/details?id=com.Company.Kimya&hl=tr&gl=US" title="Game"target="_blank">Periyodik Tablo Testi (Kimya) </li></a>
  </ul>


  </li>

 </ul></li>
</ul>
<ul>
 <li>Daha Önceki Çalışmalarımız
 <ul>
  <li>Turkcell Program ;</li>

 </ul></li>

</ul>

<div class="new_div">
 <div class="i_1">
  <a href="{% static 'Turkcell Program/s1.PNG' %}" target="_blank"><img style="height:300px; width:100%" src="{% static 'Turkcell Program/s1.PNG' %}" alt="..." /></a>
  </div>
<div class="i_2">
  <a href="{% static 'Turkcell Program/s3.PNG' %}" target="_blank"><img style="height:300px; width:100%" src="{% static 'Turkcell Program/s3.PNG' %}" alt="..." /></a>
  </div>
<div class="i_3">
  <a href="{% static 'Turkcell Program/s.PNG' %}" target="_blank"><img style="height:300px; width:100%" src="{% static 'Turkcell Program/s.PNG' %}" alt="..." /></a>
  </div>
 <div class="i_4">
  <a href="{% static 'Turkcell Program/s5.PNG' %}" target="_blank"><img style="height:300px; width:100%" src="{% static 'Turkcell Program/s5.PNG' %}" alt="..." /></a>
  </div>


</div>
<ul>
 <li>Daha Önceki Çalışmalarımız
 <ul>
  <li>Python ;</li>

 </ul></li>

<div class="new_divv">
 <div class="p_1">
  <a href="{% static '/p1.PNG' %}" target="_blank"><img style="height:400px; width:100%;float:left" src="{% static '/p1.PNG' %}" alt="..." /></a>
  </div>
<div class="p_2">
 <a href="{% static '/p2.PNG' %}" target="_blank"> <img style="height:450px; width:100%; clear: both;" src="{% static '/p2.PNG' %}" alt="..." /></a>
  </div>

  </div>


</div>

</ul>

 {% endblock body %}